.color-cube {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 20%;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.cyan {
  background-color: cyan;
}

.magenta {
  background-color: magenta;
}

.papaya-whip {
  background-color: papayawhip;
}

.mermaid-treasure {
  background-color: #00acb0;
}

.button-bar {
  display: inline-block;;
  margin: auto;
}

.button-bar button {
  margin: 5px;
}

p {
  padding: 20px;
  display: inline-block;
}
